$platinum: #EBEBEB;
$onyx: #36393D;
$eerieblack: #1E2226;
$medpurple: #957FEF;
$maxpurple: #B4A4F4;

.neonText {
  color: #fff;
  z-index: 1;
  font-size: 6.2rem;
  font-family: "Pacifico", cursive;
  line-height: 150px;

  text-shadow: 0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px $medpurple,
  0 0 82px $medpurple,
  0 0 92px $medpurple,
  0 0 102px $medpurple,
  0 0 151px $medpurple;
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px $medpurple,
    0 0 80px $medpurple,
    0 0 90px $medpurple,
    0 0 100px $medpurple,
    0 0 150px $medpurple;
  }

  0% {
    text-shadow: 0 0 4px #fff,
    0 0 10px #fff,
    0 0 18px #fff,
    0 0 38px $medpurple,
    0 0 73px $medpurple,
    0 0 80px $medpurple,
    0 0 94px $medpurple,
    0 0 140px $medpurple;
  }
}

.cardContainer {
  height: 60vh;
  overflow-y: auto;
}

.songCard {
  width: 19em;
}

.extLink {
  transition: all 300ms ease-in;
}

.extLink:hover {
  color: $medpurple
}

@media not all and (min-resolution: .001dpcm) {
  @supports (-webkit-appearance:none) {
    .neonText {
      animation: pulsate 1s ease-in-out infinite alternate;
    }
  }
}
